@model IngredientsList
<div class="container">
    <div class="row">
        @foreach (string category in Model.Categories)
        {
            <div class="col-2 p-1">
                <a class="btn btn-block btn-secondary" asp-action="Index" asp-controller="Ingredients"
                   asp-route-category="@category" asp-route-id="1">
                    @category
                </a>
            </div>
        }
    </div>
    <div class="row">
        <div class="card-deck">
            @foreach (var ingredient in Model.Ingredients)
            {
                <div class="col-xs-6 col-md-4 p-1">
                    <div class="card bg-light">
                        <h4 class="card-header">@ingredient.Name</h4>
                        <div class="card-body">
                            <p class="card-img">@ingredient.Description.</p>
                            <p class=" card-text">Jednostka: @ingredient.Unit</p>
                            <p class=" card-text">Kalorie: @ingredient.Callories</p>
                            <p class=" card-text">Koszt: @ingredient.CostPerUnit</p>
                        </div>
                        <p class=" card-footer">Kategoria: @ingredient.Category</p>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="row justify-content-center p-1">
        <ul class="pagination" pagination-info="@Model.PaginationInfo" page-action="Index" page-outer-class="page-item" page-inner-class="page-link"></ul>
    </div>


    <div class="row justify-content-center p-1">
        <a asp-action="Create" class="btn btn-primary ">Dodaj nowy</a>
    </div>

</div>