@model IEnumerable<CuisineVM>

@await Component.InvokeAsync(nameof(EditTabsViewComponent).GetASPName(),
    new
    {
        viewName = nameof(RecipeController).GetASPName(),
        tabId = 2
    })

@*Wyswietlanie i usuwanie rodzaju danń*@
<h3>Aktualne rodzaje dań</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action=@nameof(RecipeController.names.RemoveCuisine) method="post" class="btn btn-secondary m-1"
                       asp-route-id=@(ViewContext.RouteData.Values["id"]) asp-route-cuisineId="@item.Id">
                        Usuń
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>

@*Dodawanie rodzaju dań*@
<h3>Dodawanie rodzajów dań</h3>
@await Component.InvokeAsync(nameof(CuisineSelectionViewComponent).GetASPName(),
    new { id = int.TryParse(ViewContext.RouteData.Values["id"]?.ToString(), out int extractedId) ? extractedId : 0 })

