@model IEnumerable<CookBookASP.Models.StepUIO>
@await Component.InvokeAsync(nameof(CookBookASP.Components.RecipeEditTabViewComponent).GetASPName(),
    new TabWithId { Tab = 3 })

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    <form asp-action=@ASPNames.Edit>
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <textarea asp-for=@item.Description class="form-control" id="exampleFormControlTextarea1" rows="5">@item.Description</textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Zmień" class="btn btn-primary" />
                        </div>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td>*</td>
            <td>
                <form asp-action=@ASPNames.Create>
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <textarea asp-for=@item.Description class="form-control" id="exampleFormControlTextarea1" rows="5">@item.Description</textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Zmień" class="btn btn-primary" />
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
</table>




