@model TabWithId
@inject CookBookASP.Session.SessionManager<ItemInfo> SessionManger
@{
    int id = int.TryParse(ViewContext.RouteData.Values["id"]?.ToString(), out int extractedId) ? extractedId : 0;
    string name = SessionManger.GetItem()?.Name ?? "";
}
<h1>@name</h1>
<h3>Edycja przepisu</h3>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link @(Model.Tab == 1 ? "active": "")" asp-controller=@nameof(CookBookASP.Controllers.RecipeController).GetASPName()
           asp-action=@ASPNames.Edit asp-route-id=@id>Ogólne</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.Tab == 2 ? "active": "")" asp-controller=@nameof(CookBookASP.Controllers.RecipeController).GetASPName()
           asp-action=@ASPNames.Cuisines asp-route-id=@id>Kuchnie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.Tab == 3 ? "active": "")" asp-controller=@nameof(CookBookASP.Controllers.StepController).GetASPName()
           asp-action=@ASPNames.Index asp-route-id=@id>Czynności</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.Tab == 4 ? "active": "")" asp-controller=@nameof(CookBookASP.Controllers.RecipeController).GetASPName()
           asp-action=@ASPNames.Ingredients asp-route-id=@id>Produkty</a>
    </li>
</ul>


