@model IEnumerable<CookBookC3.Models.CategoryUIO>


<h1>Kategorie dla składnika</h1>

@*Wyswietlanie i usuwanie kategorii*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="RemoveCategory" method="post" class="btn btn-secondary m-1"
                       asp-route-id=@(ViewContext.RouteData.Values["id"]) asp-route-categoryId="@item.Id">
                        Usuń
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>


@*Dodawanie kategorii*@
@await Component.InvokeAsync("CategorySelection", new { id = Convert.ToInt32((ViewContext.RouteData.Values["id"])) })

<div>
    <a asp-action="Index">Powrót</a>
</div>
