@model IngredientsList
    <h1>Składniki</h1>
    <!--Dodawanie nowego skladnika-->
    <div class="row justify-content-center p-1">
        <a asp-action="Create" class="btn btn-primary ">Dodaj nowy</a>
    </div>

    <!--Kategorie-->
    <div class="row p-1">
        <a class="btn btn-outline-primary m-1
               @(Model.SelectedCategoryName is null ?"active": "")"
           asp-action="Index" asp-controller="Ingredient" asp-route-id="1"
           asp-route-category="">
            Wszystkie
        </a>

        @foreach (var category in Model.Categories)
        {
            <a class="btn btn-outline-primary m-1
                   @(Model.SelectedCategoryName == category.Name?"active": "")"
               asp-action="Index" asp-controller="Ingredient"
               asp-route-category="@category.Name" asp-route-id="1">
                @category.Name
            </a>
        }
    </div>
    <!--Skladniki-->
    @foreach (var ingredient in Model.Ingredients)
    {
        <div class="card m-2">
            <div class="card-body">
                <h4 class="card-title">@ingredient.Name</h4>
                @if (@ingredient.Categories != null)
                {
                    foreach (string category in Regex.Split(ingredient.Categories, ","))
                    {
                        <p class="badge badge-info">@category</p>
                    }
                }
                <h6 class="card-subtitle">@ingredient.Description.</h6>
                <p class="card-text">Jednostka: @ingredient.Unit</p>
                <p class="card-text">Kalorie: @ingredient.Callories</p>
                <p class="card-text">Koszt: @ingredient.Cost.ToString("c")</p>
                <div class="row">
                    <form asp-controller="Purchase" asp-action="Add" method="post" class="m-1">
                        <input name="id" type="hidden" value="@ingredient.Id">
                        <button type="submit" class="btn btn-secondary">
                            Dodaj do listy
                        </button>
                    </form>
                    <a asp-action="Edit" method="post" class="btn btn-secondary m-1"
                       asp-route-id="@ingredient.Id">
                        Edytuj
                    </a>
                    <form asp-action="Delete" method="post" class="m-1">
                        <input name="id" type="hidden" value="@ingredient.Id">
                        <button type="submit" class="btn btn-secondary" onclick="if (!confirm('Na pewno chcesz usunąć ?')) return false;">
                            Usuń
                        </button>
                    </form>
                    <a asp-action="Categories" method="post" class="btn btn-secondary m-1"
                       asp-route-id="@ingredient.Id">
                        Kategorie
                    </a>
                </div>
            </div>

        </div>
    }
    <!--Nawigacja miedzy stronami-->
    <div class="row justify-content-center p-1">
        <ul class="pagination" pagination-info="@Model.PaginationInfo" page-action="Index"
            page-outer-class-default="page-item" page-outer-class-selected="page-item active" page-inner-class-default="page-link"></ul>
    </div>
